.menu_ {
    height: 600px;
    background-color: rgb(5, 102, 141);
}

.men__i {
    background-color: rgb(5, 102, 141);
    height: 15%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.box {
    display: flex;
    height: 78%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.pre__menu {
    background-color: rgb(199, 199, 199);
    width: calc(95%/3);
    height: 95%;
    display: flex;
    flex-direction: column;
    padding: 10px;

}



.ticket {
    margin-bottom: 10px;
    background-color: #fff;
    width: 80%;
    height: calc(80% /3);
    border-radius: 10px;
}

.ticket__inner {
    display: flex;

}

.inner__left {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inner__right {
    width: 30%;
    text-align: right;
}